.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  text-align: center;
  margin-top: 20px;
}
.loading,
.error {
  position: fixed;
  top: 40px;
  margin: auto;
  left: 50%;
  color: white;
  font-weight: 700;
}
@media(min-width: 767px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
